.bgimg{
    background: url("../Images/homepage.jpg");
    width: 1100px;
    height: 500px;
    opacity: 0.3;
}

.smimg{
    color:blue;
    padding:10px;
}

.mdimg{
    position:fixed;
    bottom:0;
}

#image1{
    width:20px;
    height:40px;
}
