
.header {
    /* font-size: var(--headerSize); */
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

.container {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
   
}

.container > p-card {
    min-width: 400px;
}

.container > p-card {
    cursor: pointer;
}

.card-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-content > img {
    width: 150px;
    height: 150px;
}