<div class="header p-d-flex">E2Y OMS Training Site</div>

<div class="p-grid container" >
    <p-card header="Weather Component" [routerLink]="['/weather']">
        <div class="card-content">
          <img src="../../../assets/images/weather-iconpng.png" alt="image">
          <p>Navigate to weather component</p>
        </div>
     
      

  </p-card>
  <p-card header="My Weather Component" [routerLink]="['/grid']">
    <div class="card-content">
      <img src="../../../assets/images/weather-iconpng.png" alt="image">
      <p>Navigate to weather component</p>
    </div>
  
  
  
  </p-card>
</div>

