<div class="grid container">
    <div class="col-8 left-container">
        <div class="flex flex-column">
            <div class="temp">Temp Component</div>
            <div class="city">City Component</div>
        </div>
    </div>
    <div class="col-4 right-container">
        <div class="flex flex-column">
            <div class="search">
                <app-search></app-search>
            </div>
            <div class="time-local">Local Time Component</div>
        </div>
    </div>
</div>

